.nav-links{
  position: relative;
  text-decoration: none;
 color: #d4d4d4;

}

.nav-links.active,
.nav-links:hover{
  color: #FFD700;
}

.nav-links:hover::after,
.nav-links.active::after{
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: yellow;
  transition: width 0.3ms;
}

.nav-links:hover::after{
  width: 100%;
}

.drawer-link{
 color: #d4d4d4;

}
.drawer-link.active::after,
.drawer-link:hover::after{
  width: 40%;

  left: -10px;
}
